In [1]:
a = {"a": "apple", "b": "orange", "c": 2014}

In [4]:
a = 1
b = 2
c = a, b

In [5]:
c

(1, 2)

In [8]:
a= [1,2]
b= [3,4]
c= a[1]+b[0]
print(c)

5

In [4]:
a = [1,2]
b = [3,4]
c = [a,b]
print(c)

[[1, 2], [3, 4]]

In [12]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

In [49]:
a = 123; print(type(a)); print(a)

<class 'int'>
123

In [16]:
a = {1: "apple"}
print(type(a))
print(a[1])

<class 'dict'>
apple

In [17]:
a=[(1,2,3), (3,8,0)]               #(1,2,3)은 tuple, a는 list.
a[0]

(1, 2, 3)

In [18]:
type(a[0])

tuple

In [20]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])        #추가로 s[-3] = d/ -rk 붙으면 뒤에서부터 센다.
print(s[1:3], s[1:], s[:3], s[:])     #a:b -> a ≤ X< b 이다.

a f f a
bc bcdef abc abcdef

In [21]:
n = [100, 200, 300]

In [22]:
len(s)

6

In [23]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [24]:
s.upper()

'ABCDEF'

In [25]:
s = ' this is a house built this year.\n'
s

' this is a house built this year.\n'

In [28]:
result= s.find('house')    #해당 단어가 몇번째 자리에 오는지 나타냄.(띄어쓰기 포함)
result

11

In [29]:
result = s.find('this')   #중복되어 나오는 단어의 경우 맨 앞에 나오는 단어의 자리를 나타냄.
result

1

In [30]:
result = s.rindex('this') #rindex는 제일 마지막에 있는 해당 단어의 자리를 말해줌
result

23

In [31]:
s = s.strip()    #쓸모 없는 것을 빼고 순수 텍스트만 남겨줌
s

'this is a house built this year.'

In [37]:
tokens = s.split(' ')  #' '사이에 있는 것을 기준으로 문장을 나눠줌
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [46]:
s = ' '.join(tokens)
s

'this is a house built this year.'

In [44]:
s = s.replace('this', 'that')
s

'that is a house built that year.'

In [ ]:
a = {"a": "apple", "b": "orange", "c": 2014}

In [52]:
a = 1
b = 1
c = a + b
c

2

In [53]:
a = (1, 2)
b = (3, 4)
c = a[0] + b[0]
c

4

In [54]:
a = (1, 2)
b = (3, 4)
c = a[1] + b[1]
c

6

In [56]:
a = 1
a = float(a)
a = str(a)
print(type(a))

<class 'str'>

In [73]:
a = 'love'
a = int(a)
print(type(a))

ValueError: invalid literal for int() with base 10: 'love'

In [69]:
a = 'love'
type(a)

str

In [79]:
a = 'love'
a = list(a)
print(type(a))
print(a)
print(a[2])

<class 'list'>
['l', 'o', 'v', 'e']
v

In [75]:
a = '123'
a = list(a)
print(a)

['1', '2', '3']

In [78]:
a = 123
print(a)

123

In [10]:
a = '123'
a = float(a)
print(type(a))

<class 'float'>

In [95]:
a = {"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [98]:
a = {"1": "apple", "2": "orange", "3": 2014}
print(type(a))
print(a["1"])

<class 'dict'>
apple

In [102]:
a = [(1,2,3), (3,8,0)]
type(a[0])

tuple

In [110]:
s = 'abcdef'
print(s[0], s[4], s[-1], s[-6])
print(s[1:6], s[1:], s[:3], s[:])

a e f a
bcdef bcdef abc abcdef

In [ ]:
n = [100,200,300]

In [112]:
len(s)

6

In [113]:
s[1] + s[4] + s[2]*6

'becccccc'

In [116]:
s.upper()

'ABCDEF'

In [132]:
s = ' this is a house, bulit year.\n'
s

' this is a house, bulit year.\n'

In [119]:
result = s.find('house')
result

11

In [120]:
result = s.rindex('this')
result

1

In [136]:
s = s.strip()
s

'this is a house, bulit year.'

In [139]:
a = s.split(' ')
a

['this', 'is', 'a', 'house,', 'bulit', 'year.']

In [140]:
s = ' '.join(a)
s

'this is a house, bulit year.'

In [145]:
s = s.replace('house', 'home')
s

'this is a home, bulit year.'

markdown으로 하면 이렇게 쓸 수 있음

In [12]:
a = [1,2,3,4]
for s in a:
    print(s)

1
2
3
4

In [15]:
a = [1,2,3,4,5,6,7]
for s in range(len(a)):
    print(a[s])

1
2
3
4
5
6
7

In [16]:
a = ['red', 'green', 'blue', 'purple']
for s in a:
    print(s)

red
green
blue
purple

In [18]:
a = ['red', 'green', 'blue', 'purple']
for s in range(len(a)):
    print(a[s])              #a의 몇번째 항으로 할지 정해야함 > a[s]쓰는 이유

red
green
blue
purple

In [20]:
a = ['red', 'green', 'blue', 'purple']
b = [0.2, 0.3, 0.1, 0.4]
for s, i in enumerate(a):                #Enumerate 함수를 쓰면 리스트도 매기고 번호고 매겨준다.
    print("{}: {}%".format(i, b[s]*100))  #s,i 중 뒤에 있는 것이 실제 list에 있는 string을 나타낸다.

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [22]:
a = ['red', 'green', 'blue', 'purple']
b = [0.2, 0.3, 0.1, 0.4]
for a,b in zip(a,b):
    print("{}: {}%".format(a,b*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [23]:
a = 0
if a != 0:
   print("yay!") 
   print("let's go")
else:
   print("no")

no

In [24]:
for i in range(1,3):               #두번 loof
    for j in range(3,5):            #두번 loof
        print(i*j)              #두번 loof되는 것.

3
4
6
8

In [25]:
for i in range(1,3):            
    for j in range(3,5):        
        if j >=4:
            print(i*j)

4
8

In [26]:
for i in range(1,3):            
    if i >=3:
        for j in range(3,5):        
              print(i*j)

위 식에서 out이 안되는 이유: if의 조건을 충족하는 i가 없기 때문에.